{% extends 'base.html' %}

{% block content %}

<div class="container-fluid mt-4">

<img src="{{object.image.url}}" height="200px" width="200px"><br>
 {{object.user.username}}<br>
 {{object.address}}<br>
 {{object.phone}}<br>
 {{object.user.email}}<br>
 {% if object.user.id != request.user.id %}
 <a href="" data-bs-toggle="popover" title="You are not authorized">Add Workday</a>
 {% else %}
 <a href="{% url 'Workday:new_workday' %}">Add Workday</a>
 {% endif %}
 <table class="table table-bordered mt-4" border="2">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Sector</th>
      <th scope="col">Work_date</th>
      <th scope="col">Time_in</th>
      <th scope="col">Time_out</th>
      <th scope="col">Hours_worked</th>
      <th scope="col">Hours_code</th>
      <th scope="col">Payroll</th>
      <th scope="col">Total_Payroll</th>
    </tr>
  </thead>
  <tbody>

  {% for wd in workdays_list %}
    <tr>
      <td>{{wd.location}}</td>
      <td>{{wd.sector}}</td>
      <td>{{wd.work_date}}</td>
      <td>{{wd.time_in}}</td>
      <td>{{wd.time_out}}</td>
      <td>{{wd.hours_worked}}</td>
      <td>{{wd.hours_code}}</td>
      <td>{{wd.payroll}}</td>
      <td>{{wd.total_payroll}}</td>
      <td><a href="{% url 'Workday:workday_edit' wd.id %}">Edit</a>
      <a href="{% url 'Workday:workday_delete' wd.id %}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}