{% extends 'base.html' %}

{% block content %}
<div>
{% for u in object_list %}
   <img src="{{u.image.url}}" height="200px" width="200px"><br>
    <a href="{% url 'Users:profiledetail' u.id %}">{{u.user.username}}</a><br>
    {{u.address}}<br>
    {{u.user.email}}<br>

  <div class="btn-group" role="group" aria-label="Basic example">

  <a href="{% url 'Users:profileupdate' u.id %}">Edit</a><br>
  <a href="{% url 'Users:profiledelete' u.id %}">Delete</a><br>

</div>
    {% endfor %}
</div>

{% endblock %}